# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET

# botkit values
clientId=
clientSecret=
clientSigningSecret=
studio_token=

# server values
PORT=
MONGODB_URI=

# integrations
APP_DOMAIN=www.rssbot.app
ANALYTICS=FALSE # TRUE | FALSE
GOOGLE_ANALYTICS_ID=
FEEDPRESS_FEED_URL=http://feedpress.me
FEEDPRESS_API_URL=https://api.feed.press
FEEDPRESS_API_KEY=
FEEDPRESS_API_TOKEN=
FEEDPRESS_HOSTNAME=
FEEDPRESS_HOSTNAME_ID=

# note: .env is a shell file so there can’t be spaces around =
