<main class="hero wrapper">
  <h1>Sorry, @RSS bot couldn't find what you're looking for.</h1>
</main>
<article>
  <p>If you need help, get in touch with <a href="/support">@RSS bot Support</a>.</p>
</article>
