  <main class="hero wrapper">
    <h1>Sorry, @RSS bot encountered an issue and can't respond right now.</h1>
  </main>
  <article>
    <p>If you need help, get in touch with <a href="/support">@RSS bot Support</a>.</p>
  </article>
