  <main class="hero wrapper">
    <h1>@RSS bot Support</h1>
  </main>
  <article>
    <p>We're really sorry, you're having trouble with @RSS bot.</p>
    <p>There are many ways you can get in touch with us and report your issue listed below. Please choose whatever is most convenient for you.</p>
    <h2>Get Support</h2>
    <ol>
      <li><a href="mailto:info@rssbot.app" target="_blank" rel="noopener noreferrer">Email Support</a></li>
      <li><a href="https://twitter.com/intent/tweet/?text=@RSSSlackBot" target="_blank" rel="noopener noreferrer">Tweet @RSSSlackBot</a></li>
      <li><a href="https://github.com/InterwebAlchemy/scrape-rss-bot/issues" target="_blank" rel="noopener noreferrer">File a GitHub Issue</a></li>
    </ol>
    <h3>Need an RSS Reader?</h3>
    <p>Here are some popular choices for reading your RSS feeds:</p>
    <ul>
      <li><a href="https://feedly.com/" target="_blank" rel="noopener noreferrer">Feedly</a></li>
      <li><a href="https://www.inoreader.com/" target="_blank" rel="noopener noreferrer">InoReader</a></li>
      <li><a href="https://newsblur.com/" target="_blank" rel="noopener noreferrer">News Blur</a></li>
      <li><a href="https://theoldreader.com/users/sign_in" target="_blank" rel="noopener noreferrer">Old Reader</a></li>
      <li><a href="https://feeder.co/" target="_blank" rel="noopener noreferrer">Feeder</a></li>
      <li><a href="http://feedreader.com/" target="_blank" rel="noopener noreferrer">Feedreader</a></li>
      <li><a href="https://flowreader.com/" target="_blank" rel="noopener noreferrer">FlowReader</a></li>
    </ul>
  </article>
