  <main class="hero wrapper">
    <h1>Hi there! I make RSS feeds for Slack Channels.</h1>
  </main>
  <article>
    <p>Tired of missing links in your Slack Channels? Just add me to a channel and whenever a user shares a link they'll be asked if they want to add it to the channel's RSS Feed.</p>
    <p>Once you add the feed to your RSS Reader of choice, you'll never miss a link again.</p>
    <h2>Get @RSS bot</h2>
    <p>Use the button below to add @RSS bot to your Slack workspace.</p>
    <p>
      <a href="/login">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      </a>
    </p>
    <h3>Need an RSS Reader?</h3>
    <p>Here are some popular choices for reading your RSS feeds:</p>
    <ul>
      <li><a href="https://feedly.com/" target="_blank" rel="noopener noreferrer">Feedly</a></li>
      <li><a href="https://www.inoreader.com/" target="_blank" rel="noopener noreferrer">InoReader</a></li>
      <li><a href="https://newsblur.com/" target="_blank" rel="noopener noreferrer">News Blur</a></li>
      <li><a href="https://theoldreader.com/users/sign_in" target="_blank" rel="noopener noreferrer">Old Reader</a></li>
      <li><a href="https://feeder.co/" target="_blank" rel="noopener noreferrer">Feeder</a></li>
      <li><a href="http://feedreader.com/" target="_blank" rel="noopener noreferrer">Feedreader</a></li>
      <li><a href="https://flowreader.com/" target="_blank" rel="noopener noreferrer">FlowReader</a></li>
    </ul>
  </article>
