  <main class="hero wrapper">
    <h1>Privacy</h1>
  </main>
  <article>
    <p>@RSS bot only gathers information that you explicitly share with it via Slack.</p>
    <p>Your team ID and channel ID are used to construct the URL for each channel's feed.</p>
    <p>RSS feeds are publicly-accessible to anyone with the feed URL.</p>
    <p>The display name of the user who originally shared the link will appear in the RSS feed entry for that link along with any text they posted with the link.</p>
    <p>Our RSS feeds use analytics tracking via <a href="https://feed.press/" target="_blank" rel="noopener noreferrer">FeedPress</a> to keep track of subscriber counts. We do not store any analytics data from FeedPress.</p>
    <p>We only store the last 10 links shared in each channel.</p>
    <p></p>
    <h2>Questions?</h2>
    <ol>
      <li><a href="mailto:info@rssbot.app" target="_blank" rel="noopener noreferrer">Email Support</a></li>
      <li><a href="https://twitter.com/intent/tweet/?text=@RSSSlackBot" target="_blank" rel="noopener noreferrer">Tweet @RSSSlackBot</a></li>
      <li><a href="https://github.com/InterwebAlchemy/scrape-rss-bot/issues" target="_blank" rel="noopener noreferrer">File a GitHub Issue</a></li>
    </ol>
  </article>
